.header {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  height: 500px;
  width: 100vw;
  background-size: cover;
  background-position: center 50%;
  margin-top: var(--navbar-height);
  flex-direction: column;
}

.header__title {
  margin: 150px auto 30px;
}

.header__subtitle {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
  text-align: center;
}

.header__button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.header__button:hover {
  background-color: darkgray;
  color: white;
}
