.services {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.services_title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: -20px;
}

.services_caption {
  font-size: 20px;
  text-align: center;
  max-width: 600px;
}

.services_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.service_card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.service_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.service_text {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}
