.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
}

.footer_top {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.footer_socials {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 10px 0;
}

.footer_socials a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.footer_button {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  color: black;
  border-radius: 6px;
  width: 25%;
}

.footer_button:hover {
  background-color: #e0e0e0;
  color: black;
}

.footer_bottom {
  color: white;
  margin: none;
}
